[include]
        path = ~/.gitconfig.local

# Provide SSH fingerprint to use in `.gitconfig.local`
[gpg]
	format = ssh
[commit]
	gpgsign = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

# Enforce SSH
[url "git@github.com:"]
    insteadOf = "https://github.com/"
[url "git@gitlab.com:"]
  insteadOf = "https://gitlab.com/"
[url "git@bitbucket.org:"]
  insteadOf = "https://bitbucket.org/"

